.job {
  &.accepted,
  &.rejected,
  &.not_available {
    &:before {
      display: block;
      position: absolute;
      z-index: 5;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(35deg);
      width: 75%;
      text-align: center;
      font-size: $font-base * 2;
      padding: $base-padding;
      background-color: $white;
      border-radius: 10px;
    }
  }

  &.accepted {
    &:before {
      content: "ACCEPTED";
      border: 10px solid $shamrock;
    }
  }

  &.rejected {
    &:before {
      content: "REJECTED";
      border: 10px solid $burnt-sienna;
    }
  }

  &.not_available {
    &:before {
      content: "NOT AVAILABLE";
      white-space: nowrap;
      border: 10px solid $black;
    }
  }
}
