$black: #000000;
$white: #ffffff;
$gray: #eeeeee;
$shamrock: #31d5ab;
$emperor: #555555;
$dusty-gray: #999999;
$burnt-sienna: #ed6164;

$base-padding: 15px;
$base-margin: 5px;

$font-base: 16px;

$font-small: 14px;
